.userForm_wrapper {
  max-width: 290px;
  margin: 0 auto;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
  display: block;
  padding: 20px;
  font-size: 16px;
}

button {
  display: block;
  width: 200px;
  height: 40px;
  text-align: 40px;
  margin: 0 auto;
  background: orangered;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
